@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   -webkit-tap-highlight-color: transparent;
   scroll-behavior: smooth;
}

body {
   touch-action: pan-y;
}

::-webkit-scrollbar {
   @apply w-1.5;
}

/* Track */
::-webkit-scrollbar-track {
   display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
   @apply  rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}
